<div style="text-align: center; margin-top: -3%;">
    <img [src]="logo">
</div>  
<div class="fs-5 mx-auto" dir="rtl" style="margin-top: 50px; font-size:18px">
 <p  >כ-250 בני אדם נעדרים בכל יום בישראל. בין אם אלו קשישים עם דמנציה, אנשים הסובלים מאוטיזם נמוך ונחשבים בתפקוד נמוך או ילדים שהלכו לאיבוד.<br>
    אז כן, הרוב המוחלט חוזר הביתה בסופו של דבר - אבל לא כולם.<br>
    Relatiive רוצה לקצר את הזמנים שבהם נמצאים אותם אנשים, לרוב חסרי ישע בעזרת שימוש במכשיר הפאלפון.<br>
 </p>
    <h4>מצלמים אדם או ילד שנראה שהלך לאיבוד והמערכת תעשה את השאר</h4>
<p>
    Realatiive הינה אפליקציה שתאפשר לכם לצלם אדם הנראה אבוד או חסר ישע.<br>
    התמונה עוברת עיבוד במערכת ואם קרובי משפחתו של הנעדר מילאו את פרטיו - היא תחבר ישירות בין המצלם לבין המשפחה.
</p>
</div>
