<div style="text-align: left; margin-top: -3%;">
    <img src ="assets/l.png">
</div>  
<h1 *ngIf="db.user.FirstName!=null" class="fs-1 text-center">Hello {{db.user.FirstName}}!</h1>
<div style="text-align: center;">
<button type="button" (click)="routeToContact()" class="btn btn-success shadow p-3 mb-5 rounded" style="margin: 3%; margin-top: 100px; height: 120px; width: 120px; border-color:rgb(63, 180, 153); background-color: rgb(63, 180, 153);">
    <!-- <img src="assets/c.png" style="margin: 5px;"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
      </svg>
    <br> Contact form</button>

<button type="button" (click)="routeToSearch()" class="btn btn-success shadow p-3 mb-5 rounded" style="margin: 3%; margin-top: 100px; height: 120px; width: 120px; border-color:rgb(63, 180, 153); background-color: rgb(63, 180, 153);">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    <br> Image search</button>
