 <h3 class="text-center">Please upload a missing image</h3>
<div class="container" style="align-items: center; width: 30rem;">
    <form class="dropdown-menu p-4 row card ">
        <input type="file" (change)="selectFile($event)" accept="image/*" class="btn" id="pic" style="margin: 10px;" /> 

        <!-- צריך לבדוק אם העלו תמונה -->
        <p *ngIf="fileToUpload==null">❌No image uploaded</p>
        <p *ngIf="fileToUpload!=null">✔Image uploaded successfully
        </p>
    
        <button type="submit" class="btn btn-success" style="background-color: rgb(63, 180, 153);border-color:rgb(63, 180, 153);">Search</button>
      </form>
  </div> 
