<div style="text-align: left; margin-top: -3%;">
  <img src="assets/l.png">
</div>
<h3 class="text-center">Contact us form</h3>
<div class="container" style="align-items: center; width: 30rem;">
  <form [formGroup]="contactForm" (ngSubmit)="addForm()" class="dropdown-menu p-4 row card">
    <div class="mb-3">
      <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
      <input type="email" formControlName="mail" class="form-control" id="mail">
<br>
      <div class="mb-3">
        <label for="exampleDropdownFormPassword2" class="form-label">Contact phone</label>
        <input type="phone" formControlName="phone" class="form-control" id="phone">
      </div>

      <!-- <div *ngIf="mail.touched || mail.dirty && mail.invalid">
            <div *ngIf="mail.errors.required">required field</div>
            <div *ngIf="mail.errors.email">invalid email address</div>
          </div> -->
    </div>
    
    <button type="submit" [disabled]="db.user.IdUser==null || !contactForm.valid" class="btn btn-success"
      style="background-color: rgb(63, 180, 153);border-color:rgb(63, 180, 153);">Save</button>
  </form>
</div>