<div style="text-align: left; margin-top: -3%;">
  <img src ="assets/l.png">
</div> 
<h6 class="text-center fs-6">Join Relatiive</h6>
<h1 class="fs-1 text-center">Create your account</h1>
  <div class="container" style="align-items: center; width: 25rem;">
    <form [formGroup]="signUpForm" class="dropdown-menu p-1 row card fs-6">
        <div class="mb-3">
            <label class="form-label">First name</label>
            <input type="text" formControlName="firstName" class="form-control" id="firstName">
          </div>

          <div class="mb-3">
            <label class="form-label">Last name</label>
            <input type="text" formControlName="lastName" class="form-control" id="lastName">
          </div>

        <div class="mb-3">
            <label class="form-label">Identity</label>
            <input type="text" formControlName="id" class="form-control" id="id">
          </div>

        <div class="mb-3">
          <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
          <input type="email" formControlName="mail" class="form-control" id="mail">
        </div>

        <div class="mb-3">
          <label class="form-label" id="firstName">Phones</label>
          <input type="tel" formControlName="phone" class="form-control" id="phone">
        </div>

        <div class="mb-3">
          <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
          <input type="password" formControlName="pass" class="form-control" id="pass">
        </div>

        
    
        <input type="file" formControlName="img" (change)="selectFile($event)" accept="image/*" class="btn" id="img"
          style="margin: 10px;" />
    
        <img *ngIf="fileToUpload!=null" [src]="mysrc">
        <!-- צריך לבדוק אם העלו תמונה -->
        <p *ngIf="fileToUpload==null">❌No image uploaded</p>
        <p *ngIf="fileToUpload!=null">✔Image uploaded successfully
        </p>
       
        <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-success mb-2" style="background-color: rgb(63, 180, 153);border-color:rgb(63, 180, 153);" (click)="addUser()">Sign up</button>
      </form>
  </div>
