<h6 class="text-center fs-6">Join Relatiive</h6>
<h1 class="fs-1 text-center">Create your account</h1>
  <div class="container" style="align-items: center; width: 30rem;">
    <form [formGroup]="signUpForm" class="dropdown-menu p-4 row card fs-6" >
        <div class="mb-3">
            <label class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName">
          </div>

          <div class="mb-3">
            <label class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName">
          </div>

        <div class="mb-3">
            <label class="form-label">Identity</label>
            <input type="text" class="form-control" id="id">
          </div>

        <div class="mb-3">
          <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
          <input type="email" class="form-control" id="mail">
        </div>

        <div class="mb-3">
          <label class="form-label" id="firstName">Phones</label>
          <input type="tel" class="form-control" id="phone">
        </div>

        <div class="mb-3">
          <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
          <input type="password" class="form-control" id="pass">
        </div>


        <div class="mb-3">
          <input type="file" class="form-control" aria-label="file example" required>
          <div class="invalid-feedback">Example invalid form file feedback</div>
        </div>

        <div class="upload">
          <label class="span">  טען פרטי בוחרים</label>
          <input type="file" class="up" (change)="upload(fileUpload)" #fileUpload >
        </div>


        <button type="submit" class="btn btn-success" style="background-color: rgb(37, 179, 136);border-color:rgb(37, 179, 136);" (click)="addUser()">Sign in</button>
      </form>
  </div>
