<div class="container" style="align-items: center; width: 30rem;">
    <form class="dropdown-menu p-4 row card ">
        <div class="mb-3">
          <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: rgb(37, 179, 136);border-color:rgb(37, 179, 136);">Sign in</button>
      </form>
  </div>
